extends layout
block content
    div
        each error in errors
            li= error
    form.pure-form(action='/create' method='post')
        div
            input(type='hidden' name='_csrf' value=csrfToken)
        div
            label First Name
            input(type='text' name='firstName')
        div
            label Last Name
            input(type='text' name='lastName')
        div
            label Email
            input(type='email' name='email')
        div
            label Password
            input(type='password' name='password')
        div
            label Confirm Password
            input(type='password' name='confirmedPassword')
        div
            label Submit
            input(type='submit' value='Create User')
